// Pantallas
$movile : 375px;
$desktop : 1440px;

// Colores primarios
$LightCyan: hsl(193, 38%, 86%);
$NeonGreen: hsl(150, 100%, 66%);

// Colores neutrales
$GrayishBlue: hsl(217, 19%, 38%);
$DarkGrayishBlue: hsl(217, 19%, 24%);
$DarkBlue: hsl(218, 23%, 16%);

// Fuente
$Tamaño : 28px;

$Principal : 'Manrope', sans-serif;
